NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_DATA_CONTROLLER_NAME=
NEXT_PUBLIC_DATA_CONTROLLER_EMAIL=golazopool@gmail.com
NEXT_PUBLIC_DATA_CONTROLLER_PHONE=
NEXT_PUBLIC_DATA_CONTROLLER_ADDRESS=
NEXT_PUBLIC_DATA_PRIVACY_CONTACT=golazopool@gmail.com
SUPABASE_SERVICE_ROLE_KEY=
OPENFOOTBALL_WORLDCUP_JSON_URL=https://raw.githubusercontent.com/openfootball/worldcup.json/master/2026/worldcup.json
INTERNAL_CRON_SECRET=
SPORTDB_API_KEY=
SPORTDB_WORLDCUP_BASE_URL=
